.dogCard {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    
}

.dogCard:hover {
    height: 200px;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: royalblue;
}

.dogName {
    background-size: 100%;
    font-family: 'Fredoka One', cursive; /* Title font or default font? */
}
