.dogCard {
    height: 200;
    width: 300px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 100px;
}

.dogCard:hover {
    /* height: 200px;
    width: 300px; */
    margin-top: 20px;
    margin-left: 20px;
    opacity: 0.5;
}

.dogName {
    background-size: 100%;
    font-family: 'Fredoka One', cursive; /* Title font or default font? */
}




